<div class="row">
  <div class="col-md-12">
    <div class="preloader" ng-show="layout.loading">
        <i class="fa fa-refresh fa-5 fa-spin"></i>
    </div>
    <div ng-show="!layout.loading">
      <div class="row">
        <div class="col-md-8">
          <h2 style="maring:0">Proveedores</h2>
        </div>
        <div class="col-md-4">
          <input type="text" placeholder="Buscar..." ng-model="buscar" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <!-- insert form starts -->
          <h3>Cargar</h3>

          <form name="nuevoprov" ng-submit="cargarProveedores(nuevoprov)" novalidate>

              <div class="form-group" ng-class="{'has-error': nuevoprov.nombre.$invalid && nuevoprov.$dirty }">
              <input type="text" name="nombre" ng-model="s" class="form-control" placeholder="Nombre..."  minlength="3" required />
              <div class="validation text-danger"
                     ng-messages="nuevoprov.nombre.$error"
                     ng-if="nuevoprov.nombre.$touched || nuevoprov.$submitted">
                    <div ng-message="required" ng-show="nuevoprov.nombre.$error.required">Este campo es requerido</div>
                    <div ng-message="minlength" ng-show="nuevoprov.nombre.$error.minlength">El nombre debe tener al menos 3 caracteres</div>

              </div>
              </div>

              <button class="btn btn-primary" type="submit" ng-disabled="nuevoprov.$invalid">Cargar</button>
              <pre class="hide">{{nuevoprov | json }}</pre>
          </form>
          <!-- insert form ends -->

          <!-- list starts -->
          <table class="table">
              <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Opciones</th>
              </tr>
              <tr ng-repeat="p in proveedores | filter: buscar">
                  <td>{{p.id}}</td>
                  <td>{{p.nombre}}</td>
                  <td>{{p.apellido}}</td>
                  <td>
                      Editar |
                      <button ng-click="confirmarBorrarProveedor(p.id)" data-toggle="modal" data-target="#modalBorrar">
                          <i class="fa fa-trash-o"></i>
                          Borrar
                      </button>
                  </td>
              </tr>
          </table>
          <!-- list ends -->

        </div>
      </div>



    </div>
  </div>
</div>


<!-- Modal Borrar -->
<div class="modal fade" id="modalBorrar" tabindex="-1" role="dialog" aria-labelledby="modalBorrarLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalBorrarLabel">Confirmar</h4>
      </div>
      <div class="modal-body">
        ¿Esta seguro de que desea borrar el item?
        {{proveedorSelectBorrar}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="borrarProveedor(proveedorSelectBorrar)">Borrar</button>
      </div>
    </div>
  </div>
</div>




